.button {
  width: 170px;
  height: 30px;
  outline: none;
  border: 1px solid #252a20;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  background-color: #b1b67a;
  cursor: pointer;

  &:hover {
    background-color: #5d9561;
  }
}
