$bodyBgColor: #eee;
$goodMaxWidth: 300px;
$goodBorder: 2px solid #666;
$goodTextColor: #fff;
$goodBgColor: silver;

$transitionDelay: 0.4s;

$selectedBgColor: #0099cc;

$buttonBgColor: aquamarine;

$addBtnBgColor: 	#33ff00;
$removeBtnBgColor: 	#ff0000;
