html {
  font-family: Roboto, sans-serif;
  background-color: #eee;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods {
  &__product {
    padding: 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

.clear {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.button,
.clear {
  border: none;
  border-radius: 16px;
  background-color: rgba(#000, 0.65);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba(#000, 0.85);
  }
}
