$--main-button-width: 60px;

.selectedGood {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;

  .buttonСlean {
    height: 25px;
    width: $--main-button-width;
  }

  .buttonСlean:hover {
    cursor: pointer;
  }
}

.goodBox {
  display: flex;

  .good {
    display: block;
    width: 100px;

    .goodName {
      margin: 3px 0 0 10px;
    }
  }

  .selected {
    background-color: slategray;
    color: white;
  }

  .buttonBox {
    padding: 0 5px 5px;
    height: 20px;

    .button {
      width: $--main-button-width;
    }

    .button:hover {
      cursor: pointer;
    }
  }
}
