ul {
  list-style: none;
}

.App {
  &__selected {
    position: relative;
    left: 50px;
    border-bottom: 1px solid black;
  }

  &__clear {
    position: absolute;
    right: 50px;
    top: 100px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
  }
}