html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.Good {
  display: flex;
  gap: 10px;

  &--active {
    background-color: #ff0;
  }
}
