// styles go here
$clear-button-size: 40px;

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0 10px;
}

#root {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: auto;
  width: 400px;

  &__header {
    display: flex;

    position: relative;

    flex: 1 0;
    max-height: 200px;

    margin-bottom: 20px;
  }

  &__title {
    flex: 1 0;
    margin: 0;
  }

  &__clear {
    height: $clear-button-size;
    width: $clear-button-size;

    align-self: center;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    transition: background-color 0.3s;

    display: grid;

    grid-template-columns: 1fr auto;

    padding: 10px 0;

    &--selected {
      background-image: linear-gradient(-90deg, #aeffb9 0%, #a091ff 100%);
    }
  }

  &__item-button {
    position: relative;
    min-width: 50px;
    padding: 6px 10px;
    margin-right: 10px;
    z-index: 1;
  }
}

.button {
  position: relative;
  outline: none;
  background: #292929;

  border: none;
  color: #fff;
  transition: transform 0.2s;

  &:hover::before,
  &:focus::before {
    transform: scale(1.2);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::after {
    background: #292929;
  }

  &::before {
    background-image: linear-gradient(135deg, #aeffb9 0%, #a091ff 100%);
    transition: transform 0.3s;
  }
}
