* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  padding: 32px;
  width: 500px;
  height: 600px;
  border: #8a8a8a 2px solid;
  border-radius: 16px;
  margin: 0 auto;
  background-color: #485fc7;
  &__header {
    padding: 8px;
    height: 150px;
    margin-bottom: 15px;
    border: #84ea6d 2px solid;
    border-radius: 16px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    gap: 20px;

    color: #fff;
  }
  &__title {
    font-size: 24px;
  }
}

.Good {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 24px;
  padding: 0 7px;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
  &--active {
    border-radius: 5px;
    background-color: #84ea6d;
    color: #656565;
  }
}

.button {
  width: 70px;
  height: 30px;
  border-radius: 16px;
  color: #464646;
  border: none;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  &__selected {
    background-color: #ffe08a;
  }

  &__unselected {
    background-color: #00d1b2;
    color: #fff;
  }

  &__remove {
    background-color: #f14668;
    color: #fff;
    min-height: 40px;
    min-width: 100px;
    font-size: 16px;
    transform: rotate(90deg) translate(45px, -30px);
  }
}
