body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  
}

.App {
  margin: 50px;

  &__button {
    margin-bottom: 10px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    
    &--active {
      background-color: yellow;
    }

    &--clear {
      background-color: orange;
    }

    &--clear:active {
      background-color: orangered;
    }

  }

}
