body {
  background-image: url("../src/images/wall2.jpg");
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 1400px;
    height: 800px;

    background-image: url("./images/neon.jpg");

    border: 2px outset black;
    box-shadow: 10px 5px 5px red;
    border-radius: 2em;
  }

  &__goods-info {
    text-transform: uppercase;
    padding-left: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }

  &__close-button {
    width: 80px;
    height: 50px;

    border-style: none;
    font-size: 30px;
    background-color: transparent;
    color: rgb(51, 4, 13);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(24, 24, 199), 0 0 0.2em blue;
    transition: transform 2s, letter-spacing 2s;
  }

  &__close-button:hover {
    cursor: pointer;
    transform: scale(110%);
    letter-spacing: 5px;
  }

  &__top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list {
    position: absolute;
    top: 115px;
    left: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    list-style: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(17, 18, 19);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(2, 2, 206), 0 0 0.2em blue;
  }

  &__button-list {
    padding-left: 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 1px 1px 2px red,
      0 0 1em rgb(255, 72, 0),
      0 0 0.2em rgb(228, 49, 17);
  }
}
