body {
  font-family: monospace, sans-serif;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 24px;
  background-color: rgb(255, 236, 67);
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s;
  transform-origin: center;

  &:hover {
    transform: rotate(180deg);
  }
}

.goods {
  &__button {
    transform: rotate(45deg);

    &:hover {
      transform: rotate(225deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    border-radius: calc(1em + 10px);
  }
}

.active {
  background-color: rgb(137, 255, 91);
}
