// styles go here
body{
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.title {
  display: flex;
  min-height: 75px;
}

.sheet {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  &__good {
    padding: 5px 50px;
    text-align: center;
  }
}

.app {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    margin: 0 auto;
    padding-top: 30px;
    min-width: 300px;
  }

  &__item {
    display: flex;
    padding: 5px;
    list-style: none;
  }
}

.buttonVisibility {
  visibility: hidden;
}

.button {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  cursor: pointer;
  height: 30px;
  min-width: 50px;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba(95, 245, 35, 0.705);

  &--big{
    min-width: 80px;
    height: 30px;
  }
}
