html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  margin: 0 auto;
  width: 30vw;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.Good {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &--active {
    background-color: hsl(171, 100%, 41%);
  }
}
