ul {
  list-style: none;
  padding: 0;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  &__button {
    width: 50px;
    height: 50px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
