html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: aquamarine;
}

.App {
  margin: 0 auto;
  padding-top: 10px;
  width: 500px;

  &__header {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 0 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }
}

ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  background-color: bisque;
}

.Good {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;

  &--active {
    background-color: #ff0;
    border-radius: 4px;
  }
}
