@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

* {
  margin: 20px;
}

.card {
  width: 300px;
  border: 1px solid black;

  &-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-button {
    margin-left: 20px;

  }
}

.title {
  display: flex;
  height: 220px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
