
.App{
  width: 300px;
  background-color: beige;
  border-radius: 10px;
  margin: 50px 50px;
  text-align: right;
  font-family: fantasy;
}

.item {
  padding: 10px;
  &-active {
    background-color:white;
    border-radius: 15px;
  }
}

.button{
  margin: 5px;
  justify-content: center;
  ;
}


