.container {
  &__title {
    text-align: center;
    padding: 30px;
  }

  &__clear-button {
    margin-bottom: 12px;
  }
}

.list-group-item {
  &--padded {
    width: 420px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
    margin-bottom: 12px;
  }

  &__button {
    width: 90px;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
