@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

ul {
  padding: 0;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods-title {
  color: white;
  display: inline-block;
  padding: 20px 10px;
  border: 5px solid #959896;
  border-radius: 10px;
  min-width: 700px;
  text-align: center;
  background: linear-gradient(to bottom, #3cf 0%, #0c0 100%);
}

.btn-clear {
  background: red;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: -10px;
  transform: rotate(45deg);
  &:hover {
    box-shadow: 0 0 5px 0 black;
  }
}

.title-info {
  position: relative;
}

.goods-list {
  list-style-type: none;
  min-width: 380px;
  margin: 0 auto;

  &__item {
    color: lightslategray;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__item--active {
    background-color: lightslategray;
    color: white;
  }

  &__button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #000;
    background: #00db00;
    color: white;
    font-weight: 600;
  }

  &__button--active {
    display: none;
  }
}
