.App {

  &__top {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__good {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__good-text {
    &-selected {
      background-color: yellow;
    }
  }
}
