* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 70vw;
  max-width: 400px;
  background-color: rgb(250, 227, 184);
  border: 1px solid salmon;
  border-radius: 8px;
  padding: 15px;
  margin: 0 auto;

  &__title {
    margin: 0 auto 15px;
    text-align: center;
  }

  &__display {
    padding: 15px;
    border: 1px solid salmon;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: silver;
    min-height: 150px;
    margin-bottom: 7px;
  }

  &__list {
    padding: 0;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: uppercase;
  }

  &__button {
    border: 1px solid black;
    border-radius: 3px;
    min-width: 110px;
  }
  
  &__button--list {
    background-color: lightgreen;
  }
  
  &__button--clear {
    display: block;
    background-color: coral;
    margin: 0 auto;
  }
}
