body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0;
}

.container {
  margin: 50px;
  width: 900px;
  height: 500px;
  background-color: bisque;
}

.title {
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

.list {
  padding: 0 80px;
}

.item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: wheat;

  font-size: 20px;
}

.active {
  font-weight: bold;
}

.button_title {
  margin-left: 10px;
  background-color: indianred;
}

.remove {
  background-color: red;
}

.select {
  background-color: greenyellow;
}

.button {
  border-radius: 20px;
  border: 1px solid white
}
